<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
</head>

<body>
	<a href="http://localhost:3000/"> Event Form</a> |
	<a href="http://localhost:3000/list"> Event list</a> |
    <a href="http://localhost:3000/guestIndex/"> guest form</a> |
	<a href="http://localhost:3000/guestIndex/guestlist"> guest list</a> |
	<a href="http://localhost:3000/user/login"> Login</a> |
	<a href="http://localhost:3000/user/logout"> logout</a>
    <form action="/user/login" method="post">
            Email:<br>
            <input type="email" name="email" value="omkar@infiny.in"placeholder="email" required><br><br>
            Password:<br>
            <input type="password" name="password" value= "asdasd" placeholder="password" required><br><br>
            <input type="submit" value="Submit">
    </form>
</body>

</html>